<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>{{ main.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="static/bootstrap/v2.2.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/bootstrap/v2.2.2/css/bootstrap-responsive.css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="static/bootstrap/v2.2.2/js/bootstrap.js"></script>

		<link href="static/blesmrt/v0.1.0/css/blesmrt.css" rel="stylesheet">
	</head>
	<body data-spy="scroll" data-target="#mainnav">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40696305-1', 'blesmrt.net');
  ga('send', 'pageview');
</script>
			<section class="container first">
				{{ lamy.get_content() }}
			</section>

			<section class="container second">
					{% set cols = 3 %}

					{% for s in srv %}
						{% if loop.index0 is divisibleby cols or loop.first %}
				<div class="row">
						{% endif %}
						<div class="span{{ cols+1 }}">
							<h2>{{ s.get_title() }}</h2>
							{{ s.get_content() }}
						</div>
						{% if loop.index is divisibleby cols or loop.last %}
						</div>
						{% endif %}
					{% endfor %}


					<div class="row">
						<hr>
						<div class="span12">
						<h2>{{ prispejte.get_title() }}</h2>
							{{ prispejte.get_content() }}
						</div>
					</div>
			</section>


			<section class="container" id="fenomen">
				<div class="row">
					<hr>
						<h2>{{ fenomen.get_title() }}</h2>
					<div class="span6">
						{{ fenomen.get_1() }}
					</div>


					<div class="span6">
						{{ fenomen.get_2() }}
					</div>
				</div>
			</section>
	</body>
</html>
